

#app {
	height: var(--mapHeight);
	margin: 0 auto;
	max-width: 600px;
	padding: 0;	
}

#app h1 {
	background-color: #FFF;
	margin: 0;
	margin-block-start: 0;
	padding: 0 0 0.5rem 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}
#scroller {
	padding: 0;
	position: relative;
}

#legend {
	background: rgba(255,255,255,0.8);
	border-radius: 3px;
	display: flex;
	height: 20px;
	left: 10px;
	padding: 7px;
	position: fixed;
	top: calc(var(--headerHeight) + 10px);
	/*top: calc(var(--mapHeight) + var(--headerHeight) - 40px);*/
	min-width: 200px;
}
#legend > * {
	float: left;
}
#legend .legend-title {
	flex: 6;
	font-family: BentonSansCond-Bold, sans-serif;
	margin-right: 10px;
}
#legend .gradient-bar {
	background: linear-gradient(to right, #fffff0, #fed6c4, #fca487, #fc7050, #eb362a, #ba1419, #67000d);
	margin: 0 4px;
	opacity: 0.75;
	width: 80px;
}
#features {
	font-family: sans-serif;
	margin-left: 5%;
	overflow-y: hidden;
	/*pointer-events: none;*/
	position: relative;
	width: 50%;
	z-index: 0;
}
section {
	background-color: rgba(255,255,255,0.8);
	font-size: 0.9rem;
	line-height: 25px;
	margin: 100vh 0;
	padding: 10px 20px;
}
section:first-child {
	margin-top: 60vh;
}
section.active {
	opacity: 1;
}
section:last-child {
	border-bottom: none;
	margin-bottom: 100vh;
}

#features h3 {
	margin: 7px 0 10px 0;
}