#map {
	bottom: 0;
	height: var(--mapHeight);
	max-width: 600px;
	position: fixed;
	top: var(--headerHeight);
	width: 100%;
}
#map .maplibregl-ctrl-top-right {
   	top: calc(var(--headerHeight) - 10px);
}
#legend {
	background: rgba(255,255,255,0.8);
	border-radius: 3px;
	display: flex;
	height: 20px;
	left: 10px;
	padding: 7px;
	position: fixed;
	top: calc(var(--headerHeight) * 2);
}
#legend > * {
	float: left;
}
#legend .legend-title {
	flex: 6;
	font-family: BentonSansCond-Bold, sans-serif;
	margin-right: 10px;
}
#legend .gradient-bar {
	background: linear-gradient(to right, #fffff0, #fed6c4, #fca487, #fc7050, #eb362a, #ba1419, #67000d);
	margin: 0 4px;
	opacity: 0.75;
	width: 80px;
}


@media only screen and (min-width: 425px) {
	#legend {
		top: calc(var(--headerHeight) + 10px);
	}
	#map .maplibregl-ctrl-top-right {
    	top: 0;
    }
}